body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hwb(193 0% 28%);
  padding: 15px 30px;
  color: white;
}

header .logo {
  font-size: 19px;
  font-weight: bold;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px;
  text-align: center;
  font-size: x-large;
}

section img {
  max-width: 400px;
  margin-top: 30px;
  border-radius: 8px;
}

.services {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.service-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.119);
  width: 260px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

form input, form textarea, form button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

form button {
  background: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 18px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 40px;
}